<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Выгрузка в XML</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<!--<div th:insert="~{menu :: copy}">...</div>-->
<h1>Выгрузка в XML</h1>
<p>Сегодня: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</span></p>

<a th:href="@{/api/get_xml}">(XML)</a></p>

<!--<h4>Справочники доступные для скачивания:</h4>-->
<!--<p><a th:href="@{/api/fys_xml}">Справочник медицинских услуг (XML)</a></p>-->
<!--<p><a th:href="@{/api/pd_tarif}">Справочник нормативов по подушевому финансированию скорой медицинской помощи (XML)</a></p>-->
<!--<p><a th:href="@{/get_norm_pd}">Справочник нормативов по подушевому финансированию амбулаторно-поликлинической помощи (XLS)</a></p>-->
<!--<p><a th:href="@{/api/sp_fin_fap/{year}(year=${#calendars.format(today,'yyyy')})}">Справочник нормативов по подушевому финансированию ФАП (XML)</a></p>-->
<!--<p><a th:href="@{/api/licences}">Справочник лицензий медицинских организаций (XML)</a></p>-->

</body>

<footer>


</footer>

</html>